/* класс для добавления ковычек */
.my-quote {}

/* добавдляем ковычку в начала блока */
.my-quote:before {
    content: "«";
    color: rgb(103, 234, 182);
    margin-right: 0.1em;
}

/* добавдляем ковычку в конец блока */
.my-quote:after {
    content: "»";
    color: rgb(103, 234, 182);
    margin-left: 0.1em;
}

.my-icon {
    background-image: url("/static/favicon.svg");
    background-size:100% 100%;
    background-repeat: no-repeat;
    min-height: 32px;
    min-width: 32px;
}