.my-quote {}

.my-quote:before {
    content: "«";
    color: rgb(103, 234, 182);
    margin-right: 6px;
}

.my-quote:after {
    content: "»";
    color: rgb(103, 234, 182);
    margin-left: 6px;
}

